.movie-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 align-content: center;
 height: 60px;
 margin-top: 15px;
 margin-left: 15px;
 color: #ffffff !important;
 background: #6C6C6C !important;
 margin-bottom: 40px;
}

.pagination-container ul{
  display: flex;
  flex-direction: row !important; 
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.movie-list-container {
  margin-top: 40px;
  
}

.movie-list-items-container {
  font-size: 18px;
  list-style-type: none;
  padding-left: 0px;
  font-style: normal;
}

.movie-list-container li {
  padding-bottom: 12px;
}

.movie-genre-container {
  width: 250px;
  height: 40px;
  background: #6C6C6C;
  box-shadow: 300px 4px 60px rgba(0, 0, 0, 0.25);
  border-radius: 4px;  
}

.movie-genre-container {
  width: 250px;
}

.movie-genre-select__control {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color:#ffffff !important;
  background-color: #6C6C6C !important;
  padding: 5px 20px;
  margin-top: 5px;
}

.css-1f43avz-a11yText-A11yText{
  color:#ffffff !important;
  background-color: #6C6C6C!important;
}

.css-b62m3t-container {
  color:#ffffff !important;
  background-color: #6C6C6C!important;
}

.movie-genre-select__placeholder{
  color:#ffffff !important;
  background-color: #6C6C6C!important;
}

.movie-genre-select__input {
  color:#ffffff !important;
  background-color: #6C6C6C !important;
}

.movie-genre-select__single-value css-qc6sy-singleValue {
  color:#ffffff !important;
  background-color: #6C6C6C!important;
}

.movie-genre-select__input-container-css-6j8wv5-Input-data-value{
  color:#ffffff !important;
  background-color: #6C6C6C !important;
}

.movie-genre-select__input-container.css-6j8wv5-Input-value-style{
  color:#ffffff !important;
  background-color: #6C6C6C!important;
}

.movie-genre-select__input-value-style {
  color:#ffffff !important;
  background-color: #6C6C6C !important;
}

.movie-genre-select__input react-select-3-input.movie-genre-select__input{
  color:#ffffff !important;
  background-color: #6C6C6C !important;
}

.react-select-3-input.movie-genre-select__input{
  color:#ffffff !important;
  background-color: #6C6C6C !important;
}

.movie-genre-select__indicator-separator{
  display: none;
}

.movie-pagination{
  display: flex;
  flex-direction: row;
  align-content: center;
}

@media (min-width: 576px) {

  .movie-genre-container {
    width: 250px;
    display: flex;
    align-items: flex-start;
  }

  .movie-genre-select__control {
    display: none;
    justify-content: flex-start;
    align-items: flex;
    align-content: flex-start;
    color:#ffffff !important;
    background-color: #6C6C6C !important;
  
    align-items: center !important;
    padding: 5px 20px;
    margin-top: 5px;
  }

  .movie-genre-select__control css-1s2u09g-control {
    width: 260px;
    display: flex;
    align-content: flex-start !important;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
  }

}

@media (min-width: 992px) {
  .movie-container h1 {
    font-size: 48px;
  }

  .movie-list-items-container {
    font-size: 24px;
  }

  .movie-list-container li {
    padding-bottom: 27px;
  }
}